Source: mathoid
Section: web
Priority: extra
Maintainer: Moritz Schubotz (Physikerwelt) <wiki@physikerwelt.de>
# To buld you need at least npm 1.3.0 but dpgk can not finde the npm version,
# if npm is installed from ppa:chris-lea/node.js , npm (>= 1.3.0)
Build-Depends: debhelper (>= 8.0.0), make
Standards-Version: 3.9.2
Homepage: http://www.formulasearchengine.com/Mathoid
Vcs-Git: https://gerrit.wikimedia.org/r/mediawiki/services/mathoid
Vcs-Browser: https://git.wikimedia.org/tree/mediawiki/services/mathoid

Package: mathoid
Architecture: any
Depends: nodejs (>=0.8.0), logrotate, adduser, ${shlibs:Depends}, ${misc:Depends}
Enhances: mediawiki
Description: Web service converting LaTeX to MathML
 Conversion from LaTeX to MathML node.js web service that uses Phantomjs in the background. See http://www.formulasearchengine.com/mathoid.
